<div id="membres">
    <h1>Rechercher un membre</h1>
    <div class="search">
        <form>
            <label for="memberName">Nom du membre:</label>
            <input type="text" name="memberName" id="memberName" placeholder="Entrez un nom">
            <button type="submit" (click)="getMembers()">Rechercher</button>
        </form>
    </div>
    <div class = "result">
        <h2>Résultats de recherche:</h2>
        <table>
            <thead>
              <tr>
                <th>MemberNo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>LicenseNo</th>
                <th>Lieu d'origine</th>
                <th>Coopératif</th>
                <th>Autopartage</th>
                <th>Personne physique</th>
                <th> Mot de passe </th>
                <th>Date de naissance</th>
                <th>Adresse postale</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Nombre de parts</th>
                <th>Numéro de compte</th>
                <th>Nom de la banque</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td>{{member.memberNo}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.firstName}}</td>
                <td>{{member.licenseNo}}</td>
                <td>{{member.originPlace}}</td>
                <td>{{member.isCooperative}}</td>
                <td>{{member.isAutoShared}}</td>
                <td>{{member.isPhysic}}</td>
                <td>{{member.password}}</td>
                <td>{{member.birthday}}</td>
                <td>{{member.postalCode}}</td>
                <td>{{member.city}}</td>
                <td>{{member.emailAdress}}</td>
                <td>{{member.nbOfShares}}</td>
                <td>{{member.bankAccountNo}}</td>
                <td>{{member.bankName}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
