<div id="membres">
    <h1>Rechercher un membre</h1>
    <div class="search">
        <form>
            <label>Nom du membre:</label>
            <input type="text" [(ngModel)]="nom" placeholder="Entrez un nom">
            <button type="submit" (click)="getMembers()">Rechercher</button>
        </form>
    </div>
    <div class = "result">
        <h2>Résultats de recherche:</h2>
        <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>NoMembre</th>
                <th>Lieu d'origine</th>
                <th>Type de personne</th>
                <th>Adresse postale</th>
                <th>Courriel</th>
                <th>LicenseNo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let membre of membres">
                <td>{{membre.nom}}</td>
                <td>{{membre.id_membre}}</td>
                <td>{{membre.emplacement_origine}}</td>
                <td>{{membre.est_physique ? 'Physique':'Morale'}}</td>
                <td>{{membre.adresse_postale}}</td>
                <td>{{membre.courriel}}</td>
                <td>{{membre.permis_de_conduire}}</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
